/* Founders Grotesk X-Condensed */
@font-face {
    font-family: 'Founders Grotesk X-Condensed';
    src: url('../fonts/Founders%20Grotesk%20Cond%20Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk X-Condensed';
    src: url('../fonts/Founders%20Grotesk%20X-Condensed%20Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Satoshi */
@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
